.foto-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto;
}
@media screen and (max-width: 1280px){
    .foto-grid {
        grid-template-columns: repeat(3, 1fr);
        width: calc(100% - 48px*2);
    }
}
@media screen and (max-width: 1024px){
    .foto-grid {
        grid-template-columns:repeat(2, 1fr);
        width: calc(100% - 24px*2);
    }
}
@media screen and (max-width: 768px){
    .foto-grid {
        grid-template-columns:1fr;
        width: calc(100% - 16px*2);
    }
}