.intro{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: calc(100% - 148px - 442px);
    padding-left: 148px;
    padding-top: 92px;
}

@media screen and (max-width: 1279px){
    .intro{
        width: calc(100% - 48px - 286px);
        padding-left:48px;
    }
}
@media screen and (max-width: 1023px){
.intro {
    padding-top: 80px;
    padding-left:0;
    margin: 0 24px;
    width: calc(100% - 24px*2);
}
}
@media screen and (max-width: 767px){
    .intro {
        margin: 0 16px;
        width: calc(100% - 16px*2);
    }
}

