.cover__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #FFFFFF;
    width: 80%;
    /*top: 245px;*/
    /*right: 312px;*/
    /*left:312px;*/
    /*bottom: 245px;position: absolute;*/
    /*color: #FFFFFF;*/
    /*text-decoration: none;*/
    /*background: #2A2C2F;*/
}