.place__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding-bottom: 80px;
    width: calc(100% - 148px*2);
    margin: 0 auto;
}
@media screen and (max-width: 1279px) {
    .place__item {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
        width: calc(100% - 48px*2);
    }
    }
@media screen and (max-width: 1023px) {
    .place__item {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        width: calc(100% - 24px*2);
    }
}
@media screen and (max-width: 767px) {
    .place__item {
        grid-template-columns:1fr;
        width: 100%;
    }
}
