.place__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding-bottom: 80px;
}
@media screen and (max-width: 1280px){
    .place__item {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
    }
@media screen and (max-width: 1024px){
    .place__item {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}
@media screen and (max-width: 768px){
    .place__item{
        grid-template-columns:1fr;
    }
}
